


.whyTitle{
    margin: 0 12px;
    margin-top: 24px;
}

.whyTitleText{
    margin: 0 12px;
}

.whyWrapper{
    
    position: relative;
    
    height: var(--size-15);
    width: 100%;

    margin-bottom: 48px;
    
}

.whyWrapper h1{
    font-size: 28px;
}

.whyWrapper h2{
    font-size: 24px;
}

.whyWrapper p{
    font-size: 16px;
}


.whyBackground{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('/images/seedimg.png');
    z-index: 1;
   
}

.whyForeground{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #305342;
    opacity: 0.77;
    z-index: 2;
}

.razloziDiv{
    width: 36%;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    align-self: flex-start;
   
}

.razlogDiv{
    
    margin-top: 64px;
   
}

@media( max-width: 960px){

    .razlogDiv{
    
        margin-top: 48px;
       
    }

    .whyWrapper h1{
        font-size: 26px;
    }


    .whyWrapper h2{
        font-size: 22px;
    }
    
    .whyWrapper p{
        font-size: 14px;
    }
}

@media( max-width: 660px){

    .whyWrapper h1{
        font-size: 24px;
    }

    .razlogDiv{
    
        margin-top: 32px;
       
    }


    .whyWrapper h2{
        font-size: 20px;
    }
    
    .whyWrapper p{
        font-size: 13px;
    }
}


@media( max-width: 560px){

    .whyForeground{
        opacity: 0.83;
    }

    .razloziDiv{
        width: calc(100% - 64px);
        margin-top: 16px;
      
       
    }
    

    .razlogDiv{
    
        margin-top: 32px;
       
    }


    .whyWrapper h2{
        font-size: 20px;
    }
    
    .whyWrapper p{
        font-size: 13px;
    }
}