/* Navbar.module.css */
.navbar {
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #283c61;
    padding: 1rem;
  }

  .logo{
    display: flex;
    align-items: center;
    margin-left: 16px;
    height: 48px;
    width: 48px;
  position: relative;
  }
  
  .logo a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }

  .title{
    margin-left: 64px;
    color: #3A8B66;
  }
  
  .menu {
    
   
    margin-right: 24px;
    display: flex;
    list-style: none;
    padding: 0;
  }
  
 
  
  .menu  a {
    margin-left: 16px;
    color: #fff;
    text-decoration: none;
  }
  
  .menu li a:hover {
    text-decoration: underline;
  }



  .smallMenuButton{
    position: relative;
    margin-right: 16px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
  }

  .smallMenuButton:hover{
    cursor: pointer;
  }

  .smallMenuImage{
    position: absolute;

  }


  .smallLinksMainDiv{
    width: 100%;
    padding: 8px;
    background-color: black;
  }

  .smallLinksDiv{
    width:100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .smallLink{
    
    color:white;
    width:100%;
    height: 32px;
    border: 1px solid rgb(89, 95, 100);
    margin: 4px 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 4px;

  }







  @media(max-width: 980px){
    .logo{
    
      margin-left: 8px;
    }
  }

  @media (max-width: 680px){

    .title{
      margin-left: 56px;
    }


    .logo{
      margin-left: 0;
    }

  }