.newsletter {
  
  height: 128px;
    margin-top: auto;
    background-color: #1b2222;
    padding: 32px 24px;
    text-align: center;
    box-sizing: border-box;
  }

 
  
  .newsletterContent {
    
    display: flex;
  flex-direction: column;
  align-items: center;
    max-width: var(--size-15);
    margin: 0 auto;
  }

  
  
  .newsletter h2 {
    color: #394e52;
    margin-bottom: 4px;
  }

  .newsletter p {
    margin-top: 4px;
  }