

.mainDiv{
    min-height: calc(100vh - 240px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 4px;
    
}

.oNamaText{
    margin-left: 12px;
    font-size: var(--font-size-4);
  }

  .segementDiv{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.firstSegment{
  
        opacity: 0;
        transform: translateX(0);
        animation: slideFromLeft 0.5s ease forwards, fadeIn 1s ease forwards;
      
}


  .roundImageDiv{
    position: relative;
    height: var(--size-13);
    width: var(--size-13);
    border-radius: 100%;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-100%);
    animation: slideFromTop 0.7s ease forwards;
  }

  .thirdSegment{
    opacity: 0;
  transform: translateX(0);
  animation: slideFromRight 0.7s linear forwards;
  }


@media(max-width: 980px){
  .mainDiv{
    
    flex-direction: column;
  justify-content: flex-start;
  }

    .roundImageDiv{display: none;}
}









  
  @keyframes slideFromTop {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @keyframes slideFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-64px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%) scale(0.8);
    }
    67% {
      opacity: 1;
      transform: translateX(-32px) scale(1);
    }
    75% {
      opacity: 1;
      transform: translateX(-64px) scale(1);
    }
    83% {
      opacity: 1;
      transform: translateX(-32px) scale(1);
    }

    92% {
      opacity: 1;
      transform: translateX(24px) scale(1);
    }

   

    100%{
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-48px);
    }
  }